<div id="{{ order.id }}">
    <h3>Заказ {{ order.id }}</h3>
    <p>Почта получателя: {{ order.email }}</p>
    <p>Телефон получателя: {{ order.telephone_number }}</p>
    <p>Адрес получателя: {{ order.address }}</p>
</div>
<div>
    <h4>Товары</h4>
    {% for item in items %}
        <div>
            <h3><a href="/product/card/?id={{ item.id }}">{{ item.title }}</a></h3>
            <p>price: {{ item.price }}</p>
        </div>
    {% endfor %}
</div>